# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
node_modules

# Hardhat / Solidity
cache/
artifacts/
typechain/
coverage/
coverage.json

# Hardhat Network
.hardhat-network*
.solidity-files-cache.json

# Ignition / Deployments
ignition/deployments/
ignition/journal.jsonl
package-lock.json
